<table class="table table-hover" style="outline: 1px solid black;">
    <thead class="table-dark" data-bs-theme="dark">
        <tr>
            <th scope="col" colspan="1">#</th>
            <th scope="col" colspan="1">Avatar</th>
            <th scope="col" colspan="3">Full Name</th>
            <th scope="col" colspan="2">Email</th>
            <th scope="col" colspan="1">Option</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each users}}
        <tr style="height: 60px;">
            <td scope="row" colspan="1" style="line-height: 50px;">{{@index}}</td>
            <td colspan="1"><img src="{{image}}"
                    style="height: 50px;width: auto;border: 1px solid black; max-width: 100px;" alt=""></td>
            <td colspan="3" style="line-height: 50px;">{{this.name}}</td>
            <td colspan="2" style="line-height: 50px;">{{this.email}}</td>
            <td colspan="1" style="line-height: 50px;">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a name="update" href="/user/update/{{this._id}}" class="btn btn-outline-dark"><i
                            class="bi bi-pencil-square"></i></a>
                    <button name="delete" class="btn btn-outline-danger"><i class="bi bi-person-dash"
                            onclick="handleActionDelete('/user/delete/{{this._id}}')"></i></button>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>